.introduce{
    margin:30px;
    display:flex;
    flex-direction: column;
    gap:10px;

}
.header-camnang{
    margin:30px;
    display:grid;
    grid-template-columns:650px 450px;
    grid-template-rows:250px 250px;
    gap:5px;
}
.header-camnang .image1{
    background-image: url(https://media.edunet.vn/Media/News/images/media2023/vy-2023/nganh-du-lich-viet-nam.jpg);
    grid-column: 1/2;
    grid-row: 1/3;
    height:500px;
    width:650px;
}
.header-camnang .image2{
    background-image: url(https://statics.vinpearl.com/du-lich-vinh-Ha-Long-hinh-anh3_1625912082_1661247765.jpg);
    grid-column: 2/3;
    grid-row: 1/2;
    height:250px;
    width:450px;
}
.header-camnang .image3{
    background-image: url(https://statics.vinpearl.com/b%C3%A1n%20%C4%91%E1%BA%A3o%20s%C6%A1n%20tr%C3%A0_1661247495.jpg);
    grid-column: 2/3;
    grid-row: 2/3;
    height:250px;
    width:450px;
}
.timhieu{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.timhieu .icon{
    background: url(https://ik.imagekit.io/tvlk/image/imageResource/2024/07/01/1719808860254-93122c06c974b0b369c6e0bd57fd5ebe.png?tr=q-40,c-at_max,w-1536,h-2048&_src=imagekit);
    background-size: cover; 
    background-position: center;
    height:45px;
    width:45px;
}
.timhieu .text{
    font-size: 25px;
    color:rgb(6, 176, 6);
    font-weight: bold;
}
