{{#if errorMessage}}
   alert(" {{errorMessage}}")
{{/if}}

<div class="container">
    <h2 class="mt-5 text-center">Đăng Nhập</h2>
    {{#if errorMessage}}
    alert(" {{errorMessage}}")
    {{/if}}
    <form method="POST" action="/login" class="mt-4">
        <div class="mb-3">
            <label for="userType" class="form-label">Loại người dùng</label>
                <select class="form-control" id="userType" name="userType" required>
                    <option value="customer">User</option>
                    <option value="admin">Quản trị viên</option>
                    <option value="partner">Nhà cung cấp</option>
                </select>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="current-password" required>
        </div>

        

        <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
    </form>

    <div class="text-center mt-3">
        <p>Chưa có tài khoản? <a href="/register">Đăng ký ngay</a></p>
    </div>
</div>