<div class="container-fluid">
    <div class="row">
        <!-- Menu bên trái -->
        <div class="col-md-3 bg-light vh-100">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="admin/accounts">Quản lý tài
                        khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="admin/approvals">Xét duyệt dịch
                        vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="admin/systems">Hoạt động hệ
                        thống</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="admin/reports">Phân tích và báo
                        cáo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="admin/errors">Quản lý lỗi hệ
                        thống</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin/posts">Quản lý bài viết</a>
                </li>
            </ul>
        </div>

        <!-- Nội dung bên phải -->
        <div class="col-md-9 p-4">
            {{{body}}}
        </div>
    </div>
</div>